# Housing Datasets:

## Gov DataSets: (Free to Use)

The United States Census Bureau Offers very specific data on real estate:
Example (2021 New York City Housing and Vancancy Survey Micro Data):
[Link to example](https://www.census.gov/data/datasets/2021/demo/nychvs/microdata.html)


More Government Housing DataSets:
[Link to Data](https://www.census.gov/topics/housing/data/datasets.html)

## Zillow DataSets: (Free to Use/Download CSV Files)

[Link to zillow dataset](https://www.zillow.com/research/data/)

**Home Values**: Zillow Home Value INdex (ZHVI)
1. Typical home values in different percentiles
2. Availble for 
    - single gamily residences
    - condo/co op homes
    - homes with 1,2,3,4, and 5+ bedrooms

**Home Vlaue Forecasts:** Zillow Home Value Forecast (ZHVF)
1. Month ahead, quarter-ahead, and year ahead forecasts
2. For all homes (SFR, Confo, Co-op)
3. Metro and US

**Rentals**: Zillow Observed Rent Index (ZORI)
1. Market rate rents
2. Categories
   - all homes
   - single family
   - multi family
3. Metro and US

**Rental Forecast**: Zillow Observed Rent Forecast (ZORF)
1. Forecast of ZORI for a month, quarter, and year ahead
2. U.S

**For Sale Listings**: 
1. For sale inventory (count of active listings each month)
2. New listings (every month)
3. Newly pending listings (listings pending status)
4. Median list price
5. Metro US

**Sales**: 
1. Sales Count nowcast
2. Sale price (median & mean)
3. Total transaction value
4. Sale to list ratio (sale price vs list price)
5. Metro/US

**Market Heat Index**:
1. Supply demand in a market
2. Single family + condo homes
3. Metro / US

**New Construction**: 
1. Number of sold new Constrcution Homes
2. New construction median sale price
3. Median slate price per sqft
4. Metro/US

## Zillow API: (via Bridge Interactive and MLS Integrations)

- API is part of Zillowâ€™s developer platform and allows access to more granular data, such as property-level details and comprehensive real estate records.
- Through the Bridge Interactive platform, Zillow connects to Multiple Listing Service (MLS) datasets, which are extensive, property-level databases maintained by real estate professionals.
- This data is much richer and includes information like listings, sales history, taxes, photos, and agent-provided details.
- APIs requires developer accounts, authentication, and sometimes payment for higher usage tiers

## Kaggle Housing DataSets:

Key Words: House Prices USA, Real Estate USA, Housing DataSets USA, Zillow Data 

Links to potentially interesting data sets:
USA Real Estate Dataset (300k+ entries): [Link to resource](https://www.kaggle.com/discussions/general/333339) <br>
**Attributes:**
- status
- price
- bed
- bath
- acre_lot
- full_address
- street
- city
- state
- zip_code
- house_size
- sold_date

In [14]:
import pandas as pd
import os

data_directory = "./Zillow_DataSets"

# File paths in dictionary
csv_files = {
    "For Sale Listings": os.path.join(data_directory, "For_Sale_Listing.csv"),
    "Home Values": os.path.join(data_directory, "Home_Values.csv"),
    "Home Values Forecast": os.path.join(data_directory, "Home_Values_Forecast.csv"),
    "Market Heat Index": os.path.join(data_directory, "Market_Heat_Index.csv"),
    "Rentals": os.path.join(data_directory, "Rentals.csv"),
    "Sales": os.path.join(data_directory, "Sales.csv")
}

def load_and_explore_csv(file_path):
    print(f"Loading data from: {file_path}")
    df = pd.read_csv(file_path)
    
    # Display basic information
    print("\nAttributes (Columns):")
    print(df.columns.tolist())
    
    print("\nFirst 5 Rows:")
    print(df.head())
    
    print("\n---\n")
    return df

for dataset_name, file_path in csv_files.items():
    print(f"Exploring dataset: {dataset_name}")
    load_and_explore_csv(file_path)

Exploring dataset: For Sale Listings
Loading data from: ./Zillow_DataSets/For_Sale_Listing.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31']

First 5 Rows:
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN   1421530.0
1    394913         1     New York, NY        msa        NY     73707.0
2    753899         2  Los Angeles, CA        msa        CA     21998.0
3    394463         3      Chicago, IL        msa        IL     38581.0
4    394514         4       Dallas, TX        msa        TX     24043.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2024-01-31  \
0   1500196.0   1592417.0   1660615.0   1709144.0  ...    890491.0
1     80345.0     85864.0     90067.0     91881.0  ...     36461.0
2     23784.0     25605.0     27109.0     28811.0  ...     14058.0
3     42253.0     45757.0     47492.0     48984.0  ...     19092.0
4     25876.0     28225.0     30490.0     32408.0  ...     21664.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0    876361.0    913841.0    967480.0   1036855.0   1101144.0   1149668.0
1     34858.0     36244.0     38666.0     41641.0     43847.0     44838.0
2     13754.0     14572.0     15567.0     16977.0     18457.0     19823.0
3     18342.0     19059.0     20389.0     21782.0     23134.0     24180.0
4     21401.0     22537.0     24388.0     26468.0     28696.0     30378.0

   2024-08-31  2024-09-30  2024-10-31
0   1173406.0   1180162.0   1181190.0
1     43767.0     42694.0     41774.0
2     20703.0     21328.0     21589.0
3     24779.0     25144.0     25409.0
4     31631.0     31774.0     31776.0

[5 rows x 85 columns]

---

Exploring dataset: Home Values
Loading data from: ./Zillow_DataSets/Home_Values.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31']

First 5 Rows:
   RegionID  SizeRank    RegionName RegionType  StateName     2000-01-31  \
0         9         0    California      state        NaN  189941.083557
1        54         1         Texas      state        NaN  111027.321208
2        14         2       Florida      state        NaN  113269.221141
3        43         3      New York      state        NaN  138979.501439
4        47         4  Pennsylvania      state        NaN   99325.159675

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  190575.156948  191424.465351  193265.350054  195397.239796  ...
1  111084.902957  111112.748505  111257.301986  111349.721806  ...
2  113522.494633  113824.724865  114430.520208  115078.630576  ...
3  139444.664549  139897.446908  140878.333994  141899.073549  ...
4   99534.907545   99734.576999  100139.362023  100552.787955  ...

      2024-01-31     2024-02-29     2024-03-31     2024-04-30     2024-05-31  \
0  767990.199085  767913.074896  769512.186358  773759.709911  778647.153064
1  299951.648526  300228.058078  301109.030655  301978.572060  302324.101841
2  412975.408432  413904.071012  414944.203899  415862.795269  416209.388878
3  436255.509091  438648.840664  441631.820433  445308.012700  448638.592263
4  262071.016367  262933.274907  264263.880571  265948.793081  267456.133235

      2024-06-30     2024-07-31     2024-08-31     2024-09-30     2024-10-31
0  781489.116381  783680.716030  785600.537660  787971.516726  789682.973337
1  302112.969026  301577.999813  301188.651460  300952.088105  300712.091402
2  415619.551410  414758.879266  413927.429781  413257.280087  412469.692485
3  451330.079925  453622.474786  456378.737780  459093.248515  461615.264629
4  268371.119451  268732.316321  269001.236812  269407.285863  270173.074129

[5 rows x 303 columns]

---

Exploring dataset: Home Values Forecast
Loading data from: ./Zillow_DataSets/Home_Values_Forecast.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'BaseDate', '2024-11-30', '2025-01-31', '2025-10-31']

First 5 Rows:
   RegionID  SizeRank       RegionName RegionType StateName    BaseDate  \
0    102001         0    United States    country       NaN  2024-10-31
1    394913         1     New York, NY        msa        NY  2024-10-31
2    753899         2  Los Angeles, CA        msa        CA  2024-10-31
3    394463         3      Chicago, IL        msa        IL  2024-10-31
4    394514         4       Dallas, TX        msa        TX  2024-10-31

   2024-11-30  2025-01-31  2025-10-31
0         0.2         0.6         2.9
1         0.3         0.5         1.5
2         0.2         0.4         2.3
3         0.1         0.2         1.1
4        -0.2        -0.7         1.2

---

Exploring dataset: Market Heat Index
Loading data from: ./Zillow_DataSets/Market_Heat_Index.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31']

First 5 Rows:
   RegionID  SizeRank       RegionName RegionType StateName  2018-01-31  \
0    102001         0    United States    country       NaN        49.0
1    394913         1     New York, NY        msa        NY        52.0
2    753899         2  Los Angeles, CA        msa        CA        68.0
3    394463         3      Chicago, IL        msa        IL        48.0
4    394514         4       Dallas, TX        msa        TX        55.0

   2018-02-28  2018-03-31  2018-04-30  2018-05-31  ...  2024-01-31  \
0        50.0        52.0        54.0        55.0  ...        59.0
1        52.0        55.0        56.0        55.0  ...        85.0
2        66.0        65.0        66.0        66.0  ...        81.0
3        49.0        51.0        52.0        51.0  ...        68.0
4        55.0        58.0        60.0        59.0  ...        66.0

   2024-02-29  2024-03-31  2024-04-30  2024-05-31  2024-06-30  2024-07-31  \
0        63.0        63.0        62.0        59.0        57.0        55.0
1        91.0        89.0        86.0        81.0        77.0        76.0
2        84.0        83.0        80.0        74.0        70.0        67.0
3        74.0        76.0        75.0        71.0        67.0        64.0
4        67.0        67.0        65.0        59.0        55.0        51.0

   2024-08-31  2024-09-30  2024-10-31
0        53.0        52.0        50.0
1        76.0        73.0        69.0
2        65.0        62.0        61.0
3        61.0        58.0        56.0
4        49.0        48.0        48.0

[5 rows x 87 columns]

---

Exploring dataset: Rentals
Loading data from: ./Zillow_DataSets/Rentals.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31']

First 5 Rows:
   RegionID  SizeRank       RegionName RegionType StateName   2015-01-31  \
0    102001         0    United States    country       NaN  1219.505157
1    394913         1     New York, NY        msa        NY  2309.053853
2    753899         2  Los Angeles, CA        msa        CA  1824.564158
3    394463         3      Chicago, IL        msa        IL  1376.890143
4    394514         4       Dallas, TX        msa        TX  1102.520229

    2015-02-28   2015-03-31   2015-04-30   2015-05-31  ...   2024-01-31  \
0  1226.110978  1235.157406  1244.364461  1253.736804  ...  1944.107977
1  2323.945634  2342.172815  2362.866865  2378.708487  ...  3174.657547
2  1837.131789  1852.995958  1866.544385  1880.965935  ...  2871.259690
3  1383.676519  1393.215837  1402.069318  1412.366133  ...  1917.995356
4  1107.580420  1115.085598  1127.112455  1136.976254  ...  1741.246848

    2024-02-29   2024-03-31   2024-04-30   2024-05-31   2024-06-30  \
0  1953.303835  1965.220282  1976.936082  1988.630874  1999.099587
1  3193.191963  3224.492468  3253.440784  3287.035670  3315.485733
2  2884.646776  2901.529115  2911.722715  2926.292759  2939.666326
3  1933.028681  1947.243502  1967.196287  1985.349245  2002.663746
4  1738.896640  1743.615955  1748.528748  1756.554919  1762.601323

    2024-07-31   2024-08-31   2024-09-30   2024-10-31
0  2007.481254  2011.654608  2012.727325  2009.011878
1  3333.168448  3338.425192  3327.404340  3312.654681
2  2953.144347  2959.110454  2963.153361  2960.439674
3  2011.593882  2014.948727  2013.286737  2012.134644
4  1768.678076  1771.439698  1767.837761  1760.888138

[5 rows x 123 columns]

---

Exploring dataset: Sales
Loading data from: ./Zillow_DataSets/Sales.csv

Attributes (Columns):
['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31']

First 5 Rows:
   RegionID  SizeRank       RegionName RegionType StateName  2008-02-29  \
0    102001         0    United States    country       NaN    202444.0
1    394913         1     New York, NY        msa        NY      8671.0
2    753899         2  Los Angeles, CA        msa        CA      4137.0
3    394463         3      Chicago, IL        msa        IL      5580.0
4    394514         4       Dallas, TX        msa        TX      4873.0

   2008-03-31  2008-04-30  2008-05-31  2008-06-30  ...  2024-01-31  \
0    234240.0    260112.0    286644.0    299878.0  ...    213284.0
1      9170.0     10219.0     10612.0     11518.0  ...     10433.0